input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #343A40;
  border-radius: 0.2em;
  display: inline-block;
  margin-right: 0.8em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #343A40;
  border-color: #343A40;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}




.number span {
  cursor:pointer; 
}

.number{
  margin:3%;
}

.minus, .plus{
  background:#656C72;
  border-radius:4px;
  padding:2px;
  border:1px solid #ddd;
  margin: 5%;
  color: white;
}
