
.radioContent{
    display:inline-block;
    text-align: left;
  }
  
.radio {
    display:none;
  }
  
.radio + .label {
    color:black;
    cursor:pointer;
    font-size: 20px;
  }
  
.radio + .label .span {
    display:inline-block;
    width:27px;
    height:27px;
    margin:-2px 5px 0 0;
    vertical-align:middle;
    border:1px solid #cecece;
    border-radius: 50%;
    cursor:pointer;
    transition: background .2s, transform .2s;
  }
  
.radio + .label .span:hover,
.radio + .label:hover .span{
    transform: scale(1.2);
  } 
  
.radio:checked + .label .span {
    background: #343A40;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #949799, #343A40); 
    box-shadow: 0px 0px 0px 5px white inset;
  }
  
.radio:checked + .label{
    color: #343A40;
  }
  