@import url('https://fonts.googleapis.com/css?family=Lato');

.space-down {
  margin-bottom: 1%;
}

.card-header {
  cursor: pointer;
}

.product-order-review-single-image {
  max-width:100%;
  max-height:100%;
}

.product-order-review-single-header {
  font-weight: bold;
}

.product-order-review-single-price {
  font-weight: bold;
}

.product-order-review-summery-price {
  text-align: right;
}

.submit-button {
  margin-top: 5%;
}